*{
    padding:0px;
    margin:0px;
}

._list
{
    background-color:#f7f7f7;
	border-left-color:#f7f7f7;
	border-right-color:#f7f7f7;	
}
.grid-header 
{ 
 background-color:blue;
  color:black;
  font-weight: bold;
  padding-left:5px;
  text-align:center;

}

.btn_small{
    padding:1px
}
.button_green {
   border-top: 1px solid #97f799;
   background: #6ad665;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e9c40), to(#6ad665));
   background: -webkit-linear-gradient(top, #3e9c40, #6ad665);
   background: -moz-linear-gradient(top, #3e9c40, #6ad665);
   background: -ms-linear-gradient(top, #3e9c40, #6ad665);
   background: -o-linear-gradient(top, #3e9c40, #6ad665);
   padding: 3.5px 7px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 9px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button_green:hover {
   border-top-color: #449138;
   background: #449138;
   color: #ccc;
   }
.button_green:active {
   border-top-color: #12a14b;
   background: #12a14b;
   }